.container {
    height: auto;
    overflow: auto;
    width: 30%;
    min-width: 50px;

  }
  mat-card {
      width: 30%;
      height: auto;
  }
  table {
    width: 100%;
  }
  h1 {
      margin-left: 10%;
  }

